@font-face {
  font-family: helvlight;
  src: url(HELN.TTF);
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;

  font-family: helvlight, Helvetica, sans-serif, Arial;
}

html, body { height: 100%; width: 100%;}